@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Meu Projeto ASP.NET Core MVC</title>
    <link rel="stylesheet" href="~/css/site.css"/>

</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-brand">
               <img src="~/images/Bandeira (1).png" class="logo"></a>
            </div>
            <div class="navbar-menu">
                <i class="fas fa-bars"></i> <!-- Ícone de menu usando FontAwesome -->
            </div>
        </nav>
    </header>
    <div class="container"
    <h1>GuaruApp</h1></div>

    <div class="text-box">
        <img src="~/css/lupa (1).png" class="imagem-text-box"/>
        <p>DESTINO GUARUJÁ</p>
    

    
        <div class="button-wrapper">
            <hr class="divider">
            <a href="/Home/NewPage" class="custom-button">Pontos Turísticos</a>
        </div>
    </div>
</body>
</html>