
@{
    ViewData["Title"] = "NewPage";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Meu Projeto ASP.NET Core MVC</title>
    <link rel="stylesheet" href="~/css/NewPage.css"/>

</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="/"><img src="~/images/Bandeira (1).png" alt="Logo" class="logo"></a>
            </div>
            <div class="navbar-menu">
                <a href="/" class="navbar-return"><img src="~/images/seta-esquerda.png" alt="Retornar" class="return-image"></a>
            </div>
        </nav>
    </header>

    <div class="text-box">
        <img src="~/images/coração (1).jpg" class="imagem-text-box"/>
        <p>Portais em formato de coração instalados nas praias Tombo e Enseada, em Guarujá, 
           no litoral de São Paulo. A ação busca promover os pontos turísticos de Guarujá. “Esses equipamentos atraem o interesse de pessoas que gostam de tirar fotos e postá-las em suas redes sociais."
        </p>

        <div class="button-wrapper">
            
            <a href="https://maps.app.goo.gl/j1HLK94xfEqq2Pwz7" class="custom-button">Ver no mapa</a>
        </div>
    </div>

    <div class="text-box">
        <img src="~/images/mirante (1).jpg" class="imagem-text-box" />
        <p>
            Ponta das Galhetas é uma região localizada no município de Guarujá que delimita a Praia das Astúrias da Praia do Tombo. Possui vários condomínios de luxo destinados à classe alta, sendo uma das áreas mais valorizadas do Guarujá.
        </p>

        <div class="button-wrapper">

            <a href="https://maps.app.goo.gl/TosCmxxivnDoFZBH7" class="custom-button">Ver no mapa</a>
        </div>
    </div>

    <div class="text-box">
        <img src="~/images/museu (1).jpg" class="imagem-text-box" />
        <p>
            O Museu Histórico da Fortaleza de Santo Amaro da Barra Grande é um importante ponto turístico localizado na cidade de Guarujá, no estado de São Paulo, Brasil. Este museu está situado dentro de uma antiga fortaleza construída em 1584 pelos colonizadores portugueses com o objetivo de proteger a Baía de Santos de invasões e ataques de corsários e piratas.
        </p>

        <div class="button-wrapper">

            <a href="https://maps.app.goo.gl/XXMmNnf8BhatG8o7A" class="custom-button">Ver no mapa</a>
        </div>
    </div>
</body>
</html>